.primero{text-align: center;
    
}
.back1{background-color: darkred;

}
.img1{size: 20%;
    vertical-align: bottom;
    
}
.p1{size:80%;
    text-align: center;
    margin: 25%;
    font-size: x-large;
    border: 1px;
}
.hechizos{background-image:;

}
.style1{list-style-type:upper-roman;

}
